.top-bar {
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.top-bar a {
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.228s ease;
}

.top-bar .routes a:hover {
  /* font-weight: 600; */
  transform: scale(1.05, 1.05);
}

.top-bar .container2 {
  display: none;
  position: relative;
  z-index: 2;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.4rem #954008;
  padding: 4px;
}

.top-bar .overListMenu {
  position: fixed;
  padding: 5.5rem 0;
  width: 0;
  transition: all 0.228s ease;
  left: 0;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 0.4rem #954008;
  overflow: hidden;
}

.top-bar .overListMenu.active {
  padding: 5.5rem 1rem;
  width: 70%;
}

.top-bar .overListMenu ul a {
  background: #954008;
  display: block;
  padding: 10px;
  border-radius: 0.6rem;
  color: #efef;
}
