.contact-component {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.contact-component form .input-box {
    position: relative;
    width: 560px;
}

.contact-component form .input-box input,
.contact-component form .input-box textarea {
    width: 100%;
    padding: 20px 30px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 1rem;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .2);
    letter-spacing: .1rem;
    color: #efefef;
}

.contact-component form .input-box textarea {
    font-size: .85rem;
    resize: none;
}

.contact-component .box-btn {
    width: 600px;
    padding: 0px 30px;
}

.contact-component form .input-box .inner-box {
    flex-direction: row;
}