:root {
  --main-color: #00ffee;
  --main-color-dark: #00b3a9;
  --main-color-light: #e6f9f8;
  --main-color-contrast: #000;
  --text-color: #fff;
  --bg-color: #080808;
  --second-bg-color: #131313;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

*::selection {
  color: var(--main-color);
  background: var(--main-color-dark);
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
  overflow-x: hidden;
}

.handjet-400 {
  font-family: "Handjet", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-dark);
}
